<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       xmlns:p="http://www.springframework.org/schema/p"
       default-init-method="turnOnLights" default-destroy-method="turnOffLights">

    <bean id="duke" class="by.spring.action.springidol.Juggler"/>

    <bean id="sonnet29" class="by.spring.action.springidol.Sonnet29"/>

    <bean id="duke2" class="by.spring.action.springidol.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="sonnet29"/>
    </bean>

    <bean id="stage" class="by.spring.action.springidol.Stage"
          factory-method="getInstance"/>

    <bean id="auditorium"
          class="by.spring.action.springidol.Auditorium"
          init-method="turnOnLights"
          destroy-method="turnOffLights"/>

    <bean id="kenny" class="by.spring.action.springidol.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
    </bean>

    <bean id="kenny2" class="by.spring.action.springidol.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
        <property name="instrument">
            <bean class="by.spring.action.springidol.Saxophone"/>
        </property>
    </bean>

    <bean id="piano" class="by.spring.action.springidol.Piano"/>

    <bean id="kenny3" class="by.spring.action.springidol.Instrumentalist"
          p:song="Jingle Bells"
          p:instrument-ref="piano"/>

    <bean id="saxophone" class="by.spring.action.springidol.Saxophone"/>

    <bean id="hank" class="by.spring.action.springidol.OneManBand">
        <property name="instruments">
            <list>
                <ref bean="saxophone"/>
                <ref bean="piano"/>
            </list>
        </property>
    </bean>

    <bean id="hank2" class="by.spring.action.springidol.OneManBand2">
        <property name="instruments">
            <map>
                <entry key="PIANO" value-ref="piano"/>
                <entry key="SAXOPHONE" value-ref="saxophone"/>
            </map>
        </property>
    </bean>

    <bean id="carl" class="by.spring.action.springidol.Instrumentalist">
        <property name="song" value="#{kenny2.song}"/>
    </bean>

    <bean id="stan" class="by.spring.action.springidol.Instrumentalist">
        <property name="song" value="#{systemProperties.STANS_SONG}"/>
    </bean>

    <util:list id="songList">
        <bean class="by.spring.action.springidol.Song">
            <constructor-arg value="That Old Black Magic"/>
            <constructor-arg value="Arlen and Mercer"/>
            <constructor-arg value="That old black magic has me in its spell..."/>
        </bean>
        <bean class="by.spring.action.springidol.Song">
            <constructor-arg value="Every Little Thing She Does is Magic"/>
            <constructor-arg value="Sting"/>
            <constructor-arg value="Though Ive tried before to tell her..."/>
        </bean>
        <bean class="by.spring.action.springidol.Song">
            <constructor-arg value="Magic Carpet Ride"/>
            <constructor-arg value="Moreve and Kay"/>
            <constructor-arg value="I like to dream yes, yes, right between my sound machine..."/>
        </bean>
    </util:list>

    <bean id="magicSongBook" class="by.spring.action.springidol.SongBook">
        <constructor-arg value="#{songList.![title]}"/>
    </bean>

    <bean id="ricky" class="by.spring.action.springidol.Instrumentalist">
        <property name="song" value="#{magicSongBook.pickASong()}"/>
    </bean>

</beans>
